<%= form_with model: booking do |form| %>
  <div style="float: left; width: 25%">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true , placeholder: "enter your name "%>
  </div>

  <div style="float: left; width: 25%">
        <%= form.label :members, style: "display: block" %>
        <%= form.select :members, [2,3,4,5,6,7,8],prompt: " Enter members"%>
  </div>

  <div data-controller="date" style="float: left; width: 50%;">
    <div style="float: left;width: 33%">
        <%= form.label :day, style: "display: block" %>
        <%= form.date_field :day,min: Date.today,data: {action: "change->date#change"},required: true %>
    </div>

    <div style="float: left;width: 33%">
        <%= form.label :time, style: "display: block" %>
        <%= form.select :time, [], {prompt: "select the slot"},data: { date_target: "timeSelect", action: "change->date#table"} %>
    </div>
  
    <div style="float: left;width: 33%">
        <%= form.label :table, style: "display: block" %>
        <%= form.select :table,[], {prompt: "select the table"} , data: { date_target: "tableSelect"}%>
    </div>
  </div>
  <div style= "float: left; margin: 2rem 0rem 0rem 18rem">
    <%= form.submit  class: 'btn btn-warning'%>
  </div>
<% end %>

