<div class="card text-center"  style="margin-bottom: 2.5rem">
  <div class="card-header">
    <div>Menu</div> 
    <div class="btn-group" id="btns" role="group" aria-label="Basic example">
        <%= button_to "veg", items_path("veg"), method: :get , class: "btn btn-outline-warning #{@flag1}"%> 
        <%= button_to "non-veg", items_path("non-veg"), method: :get , class: "btn btn-outline-warning #{@flag2}"%> 
        <%= button_to "all", root_path, method: :get , class: "btn btn-outline-warning #{@flag3}"%>
    </div>
  </div>
  
  <div class="card-body" id="bdy" >
   
        <h4>Starters</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="border-bottom: solid grey 2px ; padding: 1rem;">
            <% @items.each do |item| %>
                <% if item.item_type == "Starter"%>
                    <%= render item %>
                <% end %>
            <% end %>
        </div>
        <br>
        <h4>Main Course</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="border-bottom: solid grey 2px ; padding: 1rem;">
            <% @items.each do |item| %>
                <% if item.item_type == "Main Course"%>
                    <%= render item %>
                <% end %>
            <% end %>
        </div>
        <br>

        <h4>Beverages</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="border-bottom: solid grey 2px ; padding: 1rem">
            <% @items.each do |item| %>
                <% if item.item_type == "Beverages"%>
                    <%= render item %>
                <% end %>
            <% end %>
        </div>
        <br>
        <h4>Fast Food</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4" style=" padding: 1rem">
            <% @items.each do |item| %>
                <% if item.item_type == "fast-food"%>
                    <%= render item %>
                <% end %>
            <% end %>
        </div>
  </div>
</div>

<script>
    // var btnContainer = document.getElementById("btns");
    // var btns = btnContainer.getElementsByClassName("btn");
    
    // for (var i = 0; i < btns.length; i++) {
    //     btns[i].addEventListener("click", function() {
    //         var current = document.getElementsByClassName("active");
    //         current[0].className = current[0].className.replace(" active", "");
    //         this.className += "active";
    // });
    //  debugger;
    // }

</script>

